<h1>Bookers</h1>
<% @books.each do |book| %>

<span><%= book.title %></span>

<span><%= book.body %></span>

<%= link_to "Show", book_path(book.id) %>
<%= link_to "Edit", edit_book_path(book.id) %>
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?"%>



<%end%>


